* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)), url(/images/background.png) no-repeat center/cover;
    padding: 10px 8%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0;
}

.logo {
    width: 180px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    border-radius: 24px;
    background-color: #f5168d;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.content {
    margin-top: 14%;
    max-width: 623px;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 50px;
}

.content h1 {
    text-align: justify;
}

.content form {
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px;
    background: #fff;
}

.content form input {
    border: none;
    width: 100%;
    font-size: 23px;
    padding-left: 10px;
    outline: none;
}